<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cloud.pay.mapper.FlatformOrderMapper" >
    <resultMap id="BaseResultMap" type="com.cloud.pay.entity.FlatformOrder" >
        <id column="order_id" property="orderId" jdbcType="VARCHAR" />
        <result column="order_name" property="orderName" jdbcType="VARCHAR" />
        <result column="order_time" property="orderTime" jdbcType="VARCHAR" />
        <result column="id" property="id" jdbcType="INTEGER" />
        <result column="order_type" property="orderType" jdbcType="INTEGER" />
        <result column="par_id" property="parId" jdbcType="INTEGER" />
        <result column="money" property="money" jdbcType="FLOAT" />
        <result column="create_time" property="createTime" jdbcType="VARCHAR" />
        <result column="delete_status" property="deleteStatus" jdbcType="INTEGER" />
        <result column="delete_time" property="deleteTime" jdbcType="VARCHAR" />
    </resultMap>
    <resultMap id="BaseResultMap1" type="com.cloud.pay.entity.FlatformOrder" extends="BaseResultMap">
        <association property="flatformPartner" javaType="com.cloud.pay.entity.FlatformPartner">
            <id column="par_id" property="parId" jdbcType="INTEGER" />
            <result column="par_name" property="parName" jdbcType="VARCHAR" />
        </association>
    </resultMap>

    <sql id="Base_Column_List" >
    order_id, order_name, order_time, id, order_type, flatform_order.par_id, money,flatform_order.create_time, flatform_order.delete_status, flatform_order.delete_time
  </sql>

    <select id="countByParId" resultType="Integer">
        select count(1) from flatform_order where par_id=#{parId,jdbcType=INTEGER}
    </select>
    <select id="findAll" resultMap="BaseResultMap1">
        select *  from flatform_order,flatform_partner
        <where>
            flatform_order.delete_status=0
            and flatform_order.par_id=flatform_partner.par_id
            <if test="createTime != null and createTime !=''" >
                and (flatform_order.create_time like "%"#{createTime,jdbcType=VARCHAR}"%")
            </if>
            <if test="orderType !=null">
                and order_type=#{orderType,jdbcType=INTEGER}
            </if>
            <if test="parId  !=null">
                and flatform_order.par_id=#{parId,jdbcType=INTEGER}
            </if>
        </where>
    </select>
    <select id="count" resultType="Integer">
        select count(*) from flatform_order,flatform_partner
        <where>
            flatform_order.delete_status=0
            and flatform_order.par_id=flatform_partner.par_id
            <if test="createTime != null and createTime !=''" >
                and (flatform_order.create_time like "%"#{createTime,jdbcType=VARCHAR}"%")
            </if>
            <if test="orderType !=null">
                and order_type=#{orderType,jdbcType=INTEGER}
            </if>
            <if test="parId  !=null">
                and flatform_order.par_id=#{parId,jdbcType=INTEGER}
            </if>
        </where>
    </select>

    <!--添加订单信息-->
    <insert id="insertOrder" parameterType="com.cloud.pay.entity.FlatformOrder">
        insert into flatform_order
        <trim prefix="(" suffix=")" suffixOverrides="," >
            <if test="orderId != null" >
                order_id,
            </if>
            <if test="orderName != null and orderName!=''" >
                order_name,
            </if>
            <if test="orderTime != null" >
                order_time,
            </if>
            <if test="id != null" >
                id,
            </if>
            <if test="orderType != null" >
                order_type,
            </if>
            <if test="parId != null" >
                par_id,
            </if>
            <if test="money != null" >
                money,
            </if>
            <if test="createTime != null" >
                create_time,
            </if>
            <if test="deleteStatus != null" >
                delete_status,
            </if>
            <if test="deleteTime != null" >
                delete_time,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides="," >
            <if test="orderId != null" >
                #{orderId,jdbcType=INTEGER},
            </if>
            <if test="orderName != null and orderName!=''" >
                #{orderName,jdbcType=VARCHAR},
            </if>
            <if test="orderTime != null" >
                #{orderTime,jdbcType=VARCHAR},
            </if>
            <if test="id != null" >
                #{id,jdbcType=INTEGER},
            </if>
            <if test="orderType != null" >
                #{orderType,jdbcType=INTEGER},
            </if>
            <if test="parId != null" >
                #{parId,jdbcType=INTEGER},
            </if>
            <if test="money != null" >
                #{money,jdbcType=FLOAT},
            </if>
            <if test="createTime != null" >
                #{createTime,jdbcType=VARCHAR},
            </if>
            <if test="deleteStatus != null" >
                #{deleteStatus,jdbcType=INTEGER},
            </if>
            <if test="deleteTime != null" >
                #{deleteTime,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>
</mapper>