<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cloud.pay.mapper.FlatformPartnerMapper" >
  <resultMap id="BaseResultMap" type="com.cloud.pay.entity.FlatformPartner" >
    <id column="par_id" property="parId" jdbcType="INTEGER" />
    <result column="par_name" property="parName" jdbcType="VARCHAR" />
    <result column="identity" property="identity" jdbcType="VARCHAR" />
    <result column="img_url_font" property="imgUrlFont" jdbcType="VARCHAR" />
    <result column="img_url_back" property="imgUrlBack" jdbcType="VARCHAR" />
    <result column="u_id" property="uId" jdbcType="INTEGER" />
    <result column="p_id" property="pId" jdbcType="INTEGER" />
    <result column="address" property="address" jdbcType="VARCHAR" />
    <result column="openid" property="openid" jdbcType="VARCHAR" />
    <result column="tiny_name" property="tinyName" jdbcType="VARCHAR" />
    <result column="sex" property="sex" jdbcType="VARCHAR" />
    <result column="avatar_url" property="avatarUrl" jdbcType="VARCHAR" />
    <result column="mobile" property="mobile" jdbcType="VARCHAR" />
    <result column="status" property="status" jdbcType="INTEGER" />
    <result column="create_time" property="createTime" jdbcType="VARCHAR" />
    <result column="delete_status" property="deleteStatus" jdbcType="INTEGER" />
    <result column="delete_time" property="deleteTime" jdbcType="VARCHAR" />
    <result column="cardnumber" property="cardnumber" jdbcType="VARCHAR" />
    <result column="cardbank" property="cardbank" jdbcType="VARCHAR" />
    <result column="cardname" property="cardname" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    par_id, par_name, identity, img_url_font, img_url_back, u_id, p_id, address, openid, 
    tiny_name, sex, avatar_url, mobile, status, create_time, delete_status, delete_time, 
    cardnumber, cardbank, cardname
  </sql>
  <insert id="insert" parameterType="com.cloud.pay.entity.FlatformPartner" >
    insert into flatform_partner
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="parId != null" >
        par_id,
      </if>
      <if test="parName != null" >
        par_name,
      </if>
      <if test="identity != null" >
        identity,
      </if>
      <if test="imgUrlFont != null" >
        img_url_font,
      </if>
      <if test="imgUrlBack != null" >
        img_url_back,
      </if>
      <if test="uId != null" >
        u_id,
      </if>
      <if test="pId != null" >
        p_id,
      </if>
      <if test="address != null" >
        address,
      </if>
      <if test="openid != null" >
        openid,
      </if>
      <if test="tinyName != null" >
        tiny_name,
      </if>
      <if test="sex != null" >
        sex,
      </if>
      <if test="avatarUrl != null" >
        avatar_url,
      </if>
      <if test="mobile != null" >
        mobile,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="deleteStatus != null" >
        delete_status,
      </if>
      <if test="deleteTime != null" >
        delete_time,
      </if>
      <if test="cardnumber != null" >
        cardnumber,
      </if>
      <if test="cardbank != null" >
        cardbank,
      </if>
      <if test="cardname != null" >
        cardname,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="parId != null" >
        #{parId,jdbcType=INTEGER},
      </if>
      <if test="parName != null" >
        #{parName,jdbcType=VARCHAR},
      </if>
      <if test="identity != null" >
        #{identity,jdbcType=VARCHAR},
      </if>
      <if test="imgUrlFont != null" >
        #{imgUrlFont,jdbcType=VARCHAR},
      </if>
      <if test="imgUrlBack != null" >
        #{imgUrlBack,jdbcType=VARCHAR},
      </if>
      <if test="uId != null" >
        #{uId,jdbcType=INTEGER},
      </if>
      <if test="pId != null" >
        #{pId,jdbcType=INTEGER},
      </if>
      <if test="address != null" >
        #{address,jdbcType=VARCHAR},
      </if>
      <if test="openid != null" >
        #{openid,jdbcType=VARCHAR},
      </if>
      <if test="tinyName != null" >
        #{tinyName,jdbcType=VARCHAR},
      </if>
      <if test="sex != null" >
        #{sex,jdbcType=VARCHAR},
      </if>
      <if test="avatarUrl != null" >
        #{avatarUrl,jdbcType=VARCHAR},
      </if>
      <if test="mobile != null" >
        #{mobile,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        #{status,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=VARCHAR},
      </if>
      <if test="deleteStatus != null" >
        #{deleteStatus,jdbcType=INTEGER},
      </if>
      <if test="deleteTime != null" >
        #{deleteTime,jdbcType=VARCHAR},
      </if>
      <if test="cardnumber != null" >
        #{cardnumber,jdbcType=VARCHAR},
      </if>
      <if test="cardbank != null" >
        #{cardbank,jdbcType=VARCHAR},
      </if>
      <if test="cardname != null" >
        #{cardname,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="update" parameterType="com.cloud.pay.entity.FlatformPartner" >
    update flatform_partner
    <set >
      <if test="parName != null" >
        par_name = #{parName,jdbcType=VARCHAR},
      </if>
      <if test="identity != null" >
        identity = #{identity,jdbcType=VARCHAR},
      </if>
      <if test="imgUrlFont != null" >
        img_url_font = #{imgUrlFont,jdbcType=VARCHAR},
      </if>
      <if test="imgUrlBack != null" >
        img_url_back = #{imgUrlBack,jdbcType=VARCHAR},
      </if>
      <if test="uId != null" >
        u_id = #{uId,jdbcType=INTEGER},
      </if>
      <if test="pId != null" >
        p_id = #{pId,jdbcType=INTEGER},
      </if>
      <if test="address != null" >
        address = #{address,jdbcType=VARCHAR},
      </if>
      <if test="openid != null" >
        openid = #{openid,jdbcType=VARCHAR},
      </if>
      <if test="tinyName != null" >
        tiny_name = #{tinyName,jdbcType=VARCHAR},
      </if>
      <if test="sex != null" >
        sex = #{sex,jdbcType=VARCHAR},
      </if>
      <if test="avatarUrl != null" >
        avatar_url = #{avatarUrl,jdbcType=VARCHAR},
      </if>
      <if test="mobile != null" >
        mobile = #{mobile,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=VARCHAR},
      </if>
      <if test="deleteStatus != null" >
        delete_status = #{deleteStatus,jdbcType=INTEGER},
      </if>
      <if test="deleteTime != null" >
        delete_time = #{deleteTime,jdbcType=VARCHAR},
      </if>
      <if test="cardnumber != null" >
        cardnumber = #{cardnumber,jdbcType=VARCHAR},
      </if>
      <if test="cardbank != null" >
        cardbank = #{cardbank,jdbcType=VARCHAR},
      </if>
      <if test="cardname != null" >
        cardname = #{cardname,jdbcType=VARCHAR},
      </if>
    </set>
    where par_id = #{parId,jdbcType=INTEGER}
  </update>
  <select id="findAll" parameterType="com.cloud.pay.entity.FlatformPartner" resultMap="BaseResultMap">
    select * from flatform_partner
    <where>
      delete_status=0
      <if test="parName != null and parName !=''" >
        and (par_name like "%"#{parName,jdbcType=VARCHAR}"%")
      </if>
      <if test="mobile != null and mobile !=''" >
        and (mobile like "%"#{mobile,jdbcType=VARCHAR}"%")
      </if>
      <if test="status != null" >
        and status = #{status,jdbcType=INTEGER}
      </if>
    </where>
  </select>
  <select id="count" parameterType="com.cloud.pay.entity.FlatformPartner" resultType="Integer">
    select count(*) from flatform_partner
    <where>
      delete_status=0
      <if test="parName != null and parName !=''" >
        and (par_name like "%"#{parName,jdbcType=VARCHAR}"%")
      </if>
      <if test="mobile != null and mobile !=''" >
        and (mobile like "%"#{mobile,jdbcType=VARCHAR}"%")
      </if>
      <if test="status != null" >
        and status = #{status,jdbcType=INTEGER}
      </if>
    </where>
  </select>
  <select id="findById" parameterType="Integer" resultMap="BaseResultMap">
    select * from flatform_partner where par_id = #{id}
  </select>
  <delete id="delete" parameterType="Integer" >
    delete from flatform_partner where par_id = #{id}
  </delete>
  <select id="findByOpenId" parameterType="String" resultMap="BaseResultMap">
    select * from flatform_partner where openid = #{openid}
  </select>
  <select id="findByPhone" parameterType="String" resultMap="BaseResultMap">
    select * from flatform_partner where mobile = #{phone}
  </select>
</mapper>