<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cloud.pay.mapper.ThinkEquipmentMapper" >
    <resultMap id="BaseResultMap" type="com.cloud.pay.entity.ThinkEquipment" >
        <id column="id" property="id" jdbcType="INTEGER" />
        <result column="code" property="code" jdbcType="VARCHAR" />
        <result column="ip" property="ip" jdbcType="VARCHAR" />
        <result column="username" property="username" jdbcType="VARCHAR" />
        <result column="password" property="password" jdbcType="VARCHAR" />
        <result column="port" property="port" jdbcType="VARCHAR" />
        <result column="live_url" property="liveUrl" jdbcType="INTEGER" />
        <result column="e_name" property="name" jdbcType="VARCHAR" />
        <result column="cate" property="cate" jdbcType="VARCHAR" />
        <result column="status" property="status" jdbcType="VARCHAR" />
        <result column="create_time" property="createTime" jdbcType="VARCHAR" />
        <result column="update_time" property="updateTime" jdbcType="VARCHAR" />
        <result column="delete_status" property="deleteStatus" jdbcType="VARCHAR" />
        <result column="live_img" property="liveImg" jdbcType="VARCHAR" />
        <result column="status_msg" property="statusMsg" jdbcType="VARCHAR" />
        <result column="delete_time" property="deleteTime" jdbcType="VARCHAR" />
    </resultMap>
    <select id="findAll" resultMap="BaseResultMap">
    select * from think_equipment
  </select>
    <select id="findById" parameterType="Integer" resultMap="BaseResultMap">
    select * from think_equipment where id = #{id}
  </select>
    <insert id="insert" parameterType="com.cloud.pay.entity.ThinkEquipment" >
        insert into think_equipment (code,ip,username,password,port,live_url,e_name,cate,status,create_time,delete_status,live_img,status_msg) VALUES (#{code},#{ip},#{username},#{password},#{port},#{liveUrl},#{name},#{cate},#{status},#{createTime},#{deleteStatus},#{liveImg},#{statusMsg})
    </insert>
    <update id="update" parameterType="com.cloud.pay.entity.ThinkEquipment" >
        update think_equipment set code=#{code},ip=#{ip},username=#{username},password=#{password},port=#{port},live_url=#{liveUrl},e_name=#{name},cate=#{cate},status=#{status},status_msg=#{statusMsg},live_img=#{liveImg},delete_status=#{deleteStatus},update_time=#{updateTime}   where id = #{id}
    </update>
    <update id="delete" parameterType="com.cloud.pay.entity.ThinkEquipment" >
    update think_equipment set delete_status=#{deleteStatus},delete_time=#{deleteTime} where id = #{id}
  </update>
    <select id="count" parameterType="com.cloud.pay.entity.ThinkEquipment" resultType="Integer">
        select  count(*) from think_equipment
    </select>
    <select id="findOneByName" parameterType="String" resultMap="BaseResultMap">
    select * from think_equipment where e_name = #{name}
  </select>
    <select id="findAllByCate" parameterType="Integer" resultMap="BaseResultMap">
        select * from think_equipment where cate=#{cate}
    </select>
    <update id="updateStatus" parameterType="com.cloud.pay.entity.ThinkEquipment" >
        update think_equipment set status=#{status} where id = #{id} and cate=#{cate}
    </update>
    <update id="delAbNormalStatus" parameterType="com.cloud.pay.entity.ThinkEquipment">
        update think_equipment set status=#{status} where id = #{id}
    </update>
    <select id="findOneByCode" parameterType="String" resultMap="BaseResultMap">
        select * from think_equipment where code=#{code}
    </select>
    <update id="updateMessageByCode" parameterType="com.cloud.pay.entity.ThinkEquipment">
        update think_equipment set status_msg=#{statusMsg} where code = #{code}
    </update>
    <update id="updateLiveStatusByCode" parameterType="com.cloud.pay.entity.ThinkEquipment">
        update think_equipment set live_url=#{liveUrl} where code = #{code}
    </update>
    <select id="findCodeById" parameterType="Integer" resultType="String">
        select code from think_equipment where id=#{id}
    </select>
    <update id="updateStatusByCode" parameterType="com.cloud.pay.entity.ThinkEquipment">
        update think_equipment set status=#{status} where code = #{code}
    </update>
</mapper>